body{background-color: rgba(236, 42, 220, 0);}
p{text-align: left;}
h1{text-align: left;}
h2{text-align: left;}
h3{text-align: left;}

#banner { width: 50%}
.conteiner {
    text-align: right;
}

.principal {
    background-color: rgba(182, 182, 182, 0);
}

