header h1 img { 
    width: 100px;
}

header {
    background-color: rgba(255, 255, 255, 0);
    
}

nav li {
display: inline;
margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: rgb(37, 37, 37);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    
}

nav {
    position: absolute;
    top: 50px;
    right: 0px;
}


nav a:hover, .servicos{
    color:rgb(46, 46, 46);
    text-decoration: underline;
}


footer {
    background-color: rgba(31, 28, 31, 0);
    text-align: center;
    padding: 20px 0;
    position: absolute;
    right: 100px;
}

footer img{
    width: 60px;
}

.copyright {

    color: rgba(7, 7, 7, 0.658);
    font-size: 20px;
    margin: 10px 0 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

/* css da página principal */

#banner {
    width: 100%
}

.principal, .mapa, .video, .creditos {
    text-align: left;
    font-size: 1.5em;
    margin:0 0 1em;
    clear: left;
    -webkit-text-fill-color: rgb(49, 49, 49);
}

body {
    background-image: url(Arthur_journal.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: auto;
    
}

.geral{
    font-size: 1.5em;
    -webkit-text-fill-color: rgb(36, 36, 36);
    
}
img footer { 
    image-resolution: 20px;
}

@font-face {
    font-family: 'abacaxi';
    src: url(../portifoli0-main/Fontes/Caveat-VariableFont_wght.ttf);
}
h1{
   font-family: 'abacaxi';
}
h2{
    font-family: 'abacaxi';
}
h3{
    font-family: 'abacaxi';
}
li{
    font-family: 'abacaxi';
}
div{
    position: absolute;
    left: 100px;
}
